*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, ion-icon, a, button, time, span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: hsl(45, 100%, 72%);
  color: hsl(0, 0%, 7%);
}

:focus {
  outline-color: hsl(45, 100%, 72%);
}

html {
  font-family: 'Poppins', sans-serif;
}

.admin-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 70%; /* Adjust the width as needed */
  text-align: center; /* Center-align the form elements */
}

.form-title {
  margin-bottom: 20px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: hsl(0, 0%, 100%); /* White color */
  font-size: 14px;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 14px;
  outline: none;
  width: 100%; /* Set the width to 100% for the form input */
}


.form-input::placeholder {
  font-weight: 500;
}

.form-input:focus {
  border-color: hsl(45, 100%, 72%);
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-btn {
  width: 100%; /* Make the buttons the same width as textareas */
  max-width: none; /* Remove max-width */
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  color: hsl(45, 100%, 72%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
  transition: 0.25s ease;
  margin-right: 5px; /* Add margin to separate buttons */
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  border-radius: none;
  z-index: -1;
  transition: 0.25s ease;
}

.form-btn ion-icon {
  font-size: 16px;
}

.form-btn:hover {
  background: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
}

.form-btn:hover::before {
  background: linear-gradient(
    135deg,
    hsla(45, 100%, 71%, 0.251) 0%,
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 0; /* Remove left margin */
}
