/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}
default {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #444654;
  --outgoing-chat-border: #343541;
  --incoming-chat-border: #444654;
}
.light-mode {
  --text-color: #FFFFFF;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #343541;
  --incoming-chat-bg: #40414f;
  --outgoing-chat-border:  #343541;
  --incoming-chat-border:  #343541;
}
.light {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3;
}

.blue-mode {
  --text-color: #FFFFFF;
  --icon-color: #4B89AC;
  --icon-hover-bg: #3A7DA6;
  --placeholder-color: #c3c3c3;
  --outgoing-chat-bg: #1E415E;
  --incoming-chat-bg: #3A7DA6;
  --outgoing-chat-border: #1E415E;
  --incoming-chat-border: #3A7DA6;
}

.green-mode {
  --text-color: #FFFFFF;
  --icon-color: #5EBB63;
  --icon-hover-bg: #4FA74F;
  --placeholder-color: #c3c3c3;
  --outgoing-chat-bg: #317D5B;
  --incoming-chat-bg: #4FA74F;
  --outgoing-chat-border: #317D5B;
  --incoming-chat-border: #4FA74F;
}

body {
  background: var(--outgoing-chat-bg);
}

/* Adjust suggestion position */
.typing-textarea {
  position: relative;
}

#chat-input:focus + #suggestion {
  right: calc(100% - var(--input-width));
}


#send-btn {
  display: block; /* Make the send button always visible */
  vertical-align: middle;
  margin-right: 20px; /* You can adjust this margin as needed */
  margin-bottom: 16px; /* Adjust this value as needed to center the button icon */
  color: #75a99c;
}




#delete-btn {
  width: 45px; /* Reduce the width to make it slightly smaller */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #75a99c;
}



/* Chats container styling */
.chat-container {
  margin-top:50px;
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom: 150px;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}

:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}

.default-text h1 {
  font-size: 3.3rem;
}

.default-text img {
  width: ;
/*  height: 50px;*/
}

.default-text p {
/*  font-family: 'Fira Code', monospace;*/
  margin-top: 9px;
  font-size: .96rem;
}

.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}

.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

span.material-symbols-rounded {
  
  color: var(--icon-color);
  user-select: none;
  cursor: pointer;
}

.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}

.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}

.chat .chat-details p.error {
  color: #e55865;
}
.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}

.chat .chat-details .image-container {
    width: 100%;
    height: auto;
}

.chat .chat-details .image-container img {
    width: 100%;
    height: 50%;
    border-radius: 2px;
    padding: 0 25px 0 25px;
}
.chat-details {
    display: flex;
/*    display: grid;*/
    grid-template-columns: auto 1fr;
    column-gap: 1px; /* Adjust the gap as needed */
    width: 100%;
}

.chat-details img {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    object-fit: cover;
}

.chat-details p {
    white-space: pre-wrap;
    font-size: 12px;
    padding: 0 50px 0 25px;
    color: var(--text-color);
    word-break: break-word;
}


/* Add styling for the disclaimer */
.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #222327;
  text-align: center;
  color: var(--text-color);
  font-size: 8px;
}

/* Adjust the z-index to ensure it's above other elements */
.disclaimer {
  z-index: 1;
}
.disclaimer span{
  color: #75a99c;
}


/* Typing container styling */
.typing-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Adjust the z-index as needed */
  margin-bottom: 29px;
}

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  justify-content: center;
   background: #222327;
/*  background: var(--outgoing-chat-bg)*/
  border-top: 1px solid var(--incoming-chat-border);
}

.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}

.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}

.typing-textarea textarea {
  resize: none;
  max-height: 50px; /* Increase the maximum height to 50px */
  width: 100%;
  border: none;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 3px;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}


.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}

.typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

/* Add styling for the nav element */

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Adjust the z-index as needed */
}

.top-nav .nav-container {
  display: inline-flex;
  align-items: center;
}

.top-nav span#theme-btn {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);#FFFFFF
  margin-left: 50px;
}

.nav-label{
  font-size: 13px; /* Adjust the font size as needed */
  color: #FFFFFF; /* Adjust the text color as needed */
  margin-left: 10px; /* Add some margin between the "menu" and "SmartNavigator" */
  display: flex;
  align-items: center;
}

.logo-img{
  margin-left: 10px;
  margin-right: 10px;
}


.version {
  margin-left: 10px;
  color: #75a99c;
}


.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.typing-textarea textarea:valid ~ span {
  visibility: visible;
}

.typing-controls {
  display: flex;
}

.typing-controls span {
  margin-left: 7px;
  font-size: 1.4rem;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}

.typing-controls span:hover {
  background: var(--icon-hover-bg);
}


/*typing effect*/
#typewriter {
        color: #75a99c;
        font-weight: bold;
      }

      #cursor {
        color: #75a99c;
        animation: blink 1s linear infinite;
      }

      @keyframes blink {
        0% {
          opacity: 100%;
        }
        50% {
          opacity: 0%;
        }
      }

/* For screens with a width less than or equal to 600px (small screens) */
@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 12px;
  }

  .chat-container .chat {
    padding: 20px 10px;
  }

  .chat-container .chat img {
    height: 32px;
    width: 32px;
  }

  .chat-container .chat p {
    padding: 0 3px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 20px;
  }

  .typing-textarea textarea {
    height: 50px;
    padding: 10px 40px 10px 10px;
  }

  .typing-content span {
    height: 55px;
    width: 55px;
    margin-left: 5px;
  }

  span.material-symbols-rounded {
    font-size: 1.25rem;
  }
  img.resize-image {
  width: 100%;
  height: auto;
}
}

/* For screens with a width between 600px and 1200px (medium screens) */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .default-text h1 {
    font-size: 2.8rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 14px;
  }

  .chat-container .chat {
    padding: 25px 10px;
  }

  .chat-container .chat img {
    height: 36px;
    width: 36px;
  }

  .chat-container .chat p {
    padding: 0 25px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 40px;
  }

  .typing-textarea textarea {
    height: 60px;
    padding: 12px 45px 12px 12px;
  }

  .typing-content span {
    height: 60px;
    width: 60px;
    margin-left: 8px;
  }

  span.material-symbols-rounded {
    font-size: 1.35rem;
  }
}

/* For screens with a width greater than 1200px (large screens) */
@media screen and (min-width: 1201px) {
  .default-text h1 {
    font-size: 3.3rem;
  }

  :where(.default-text p, textarea, .chat p) {
    font-size: 16px;
  }

  .chat-container .chat {
    padding: 30px 10px;
  }

  .default-text img {
    max-width: 50%; /* Make the image responsive to its container's width */
    height: auto; /* Let the height adjust proportionally based on the width */
  }

  .chat-container .chat p {
    padding: 0 30px;
  }

  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }

  .typing-container {
    padding: 15px 60px;
  }

  .typing-textarea textarea {
    height: 70px;
    padding: 15px 50px 15px 15px;
  }

  .typing-content span {
    height: 70px;
    width: 70px;
    margin-left: 10px;
  }

  span.material-symbols-rounded {
    font-size: 1.5rem;
  }
}


